/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    color: #000; 
    height: 60px;
    position: fixed;
    top: 0;
    left: 0; /* Ensure navbar starts from the left edge */
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ddd; /* Optional: add a border for separation */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .navbar-logo {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }
  
  .navbar-logo .logo {
    height: 40px;
  }
  
  .navbar-center {
    display: flex;
    gap: 20px; /* Adjust spacing between center items */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }
  
  .navbar-center a {
    color: #767676;
    text-decoration: none;
    font-size: 16px;
    margin: 0; /* Reset margin */
    padding: 0 17px; /* Reset padding */
    position: relative; /* Position relative to use pseudo-elements */
  }

  .navbar-center a::after {
    content: ''; /* Creates a pseudo-element */
    position: absolute; /* Position it relative to the link */
    left: 0;
    bottom: -18px; /* Position it 17px below the text */
    width: 0; /* Initial width of the border */
    height: 2px; /* Height of the bottom border */
    background-color: #8153FC; /* Color of the bottom border */
    transition: width 0.3s ease; /* Smooth transition for width */
  }

  .navbar-center a:hover::after {
    width: 100%; /* Adjust width considering padding */
  }

  .navbar-center a:hover {
    color: #8153FC; /* Adjust hover color for links */
  }

  .nav-link.active {
    color: #8153FC; /* Color for the active link */
  }
  
  .nav-link.active::after {
    width: 100%; /* Ensure the border-bottom is visible under the active link */
  }

  .navbar-right {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }
  
  .navbar-right a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }

  .navbar-right a.contact-button {
    display: inline-block; /* Ensures padding and border radius work properly */
    border-radius: 12px; /* Border radius for rounded corners */
    border: 1px solid #C7C7C7; /* Border color and width */
    font-weight: 800; /* Font weight */
    padding: 8px 16px; /* Padding for button appearance */
    text-align: center; /* Center text inside the button */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }

  .navbar-right a.contact-button:hover {
    background-color: #f1f1f1; /* Background color on hover */
    color: #000; /* Text color on hover */
  }
  